html {
    background: url("../finalapp/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
    height: 100%;
  }

.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    display: grid;
    grid-template-areas: "upper" "content";
    grid-template-rows: 1fr  9fr;
    height: 900px;
    width: 1500px;
    margin: 0px;
    padding: 0px;

}
a {
    color: white;
    text-decoration: none;

  }

.upper {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "home" "menu1" "menu2" "menu3";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 1.0;

  }
  .home {
    font-size: 40px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu1{
      padding-top:30px;
      padding-bottom: 20px;
  }
  .menu2{
      padding-top:30px;
      padding-bottom: 20px;
  }
  .menu3{
    padding-top:30px;
    padding-bottom: 20px;
}
.content {
    background: white;
    padding-bottom:0px;
    margin-bottom:30px;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.title{
    grid-row: 1/2;
    color: black;
    margin: 20px;
}

.search{
    display: relative;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#input-form{
    padding-left: 130px;
    padding-right: 130px;
grid-row: 1/2;
grid-column: 2/3;
margin-top: 10px; margin-bottom: 10px;
}
#user-table{
    grid-row: 2/3;
    grid-column: 1/4;
    margin: 0 auto; 
    text-align: center;
    border-collapse: collapse;
}

#select {width: 960px; margin: 0 auto;}
#select #input-form {text-align: center;}

#user-table > thead > tr { background-color: #333; color:#fff; }
#user-table > thead > tr > th { padding: 8px; width: 150px; }
#user-table > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }