{%load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>경쟁사분석</title>
  <link rel="stylesheet" href="{%static 'finalapp/competitorresult.css'%}">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body class="container">
  <div class="upper">
    <a class="home" href="{%url 'home'%}">특허전략솔루션</a>
    <a class="menu1" href="">인사말</a>
    <a class="menu2" href="">서비스 소개</a>
    <a class="menu3" href="">용어 정의</a>
  </div>
  <div class="content">
    <div class="제목">
      <canvas id="square" width="10" height="50"></canvas>
      <span id="title">경쟁사 분석</span>
    </div>
    {%if companydetail%}
    <div class="자회사">
      <h1>입력한 회사 : {{company}}</h1>
    </div>
    {%else%}
    <div class="자회사">
      <h1>잘못된 회사 입력</h1>
    </div>
    {%endif%}

    <div class="결과">
      <div class="경쟁사">
        <div class="경쟁사분석간략">
          <span class="소제목">경쟁사 분석</span>
          <span class="설명">자사와 경쟁사의 유사점, 경쟁사의 강점과 약점</span>

        </div>
        <div class="경쟁사분석결과">
          <table id="경쟁사테이블">
            <thead>
              <tr>
                <th class="회사명">회사명</th>
                <th class="표제목">유사점</th>
                <th class="표제목">강점</th>
                <th class="표제목">약점</th>
              </tr>
            </thead>
            <tbody>
              {%for companydata in companydetail%}
              <tr>
                <td class="표제목">{{companydata.competitor1}}</td>

                <td>
                  {%for similar in similar1%}
                  <div class="분류코드">
                    {{similar}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for strength in competitor1_s%}
                  <div class="분류코드">
                    {{strength}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for weakness in competitor1_w%}
                  <div class="분류코드">
                    {{weakness}}
                  </div>
                  {%endfor%}
                </td>
              </tr>
              <tr>
                <td class="표제목">{{companydata.competitor2}}</td>
                <td>
                  {%for similar in similar2%}
                  <div class="분류코드">
                    {{similar}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for strength in competitor2_s%}
                  <div class="분류코드">
                    {{strength}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for weakness in competitor2_w%}
                  <div class="분류코드">
                    {{weakness}}
                  </div>
                  {%endfor%}
                </td>
              </tr>
              <tr>
                <td class="표제목">{{companydata.competitor3}}</td>
                <td>
                  {%for similar in similar3%}
                  <div class="분류코드">
                    {{similar}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for strength in competitor3_s%}
                  <div class="분류코드">
                    {{strength}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for weakness in competitor3_w%}
                  <div class="분류코드">
                    {{weakness}}
                  </div>
                  {%endfor%}
                </td>
              </tr>
              <tr>
                <td class="표제목">{{companydata.competitor4}}</td>
                <td>
                  {%for similar in similar4%}
                  <div class="분류코드">
                    {{similar}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for strength in competitor4_s%}
                  <div class="분류코드">
                    {{strength}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for weakness in competitor4_w%}
                  <div class="분류코드">
                    {{weakness}}
                  </div>
                  {%endfor%}
                </td>
              </tr>
              <tr>
                <td class="표제목">{{companydata.competitor5}}</td>
                <td>
                  {%for similar in similar5%}
                  <div class="분류코드">
                    {{similar}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for strength in competitor5_s%}
                  <div class="분류코드">
                    {{strength}}
                  </div>
                  {%endfor%}
                </td>
                <td>
                  {%for weakness in competitor5_w%}
                  <div class="분류코드">
                    {{weakness}}
                  </div>
                  {%endfor%}
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>

      <div class="특허분야소개">
        <div class="특허분야소개간략">
          <span class="소제목">특허 분야 설명</span>
          <span class="설명">해당 IPC가 어떤 특허 분야인지 설명</span>
        </div>

        <div class="특허설명결과">
          <table>
            <thead>
              <tr>
                <th>IPC</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="patentipc"></td>
                <td id="ipcexplain"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="특허경쟁력">
        <div class="특허경쟁력간략">
          <span class="소제목">특허 경쟁력 비교</span>
          <span class="설명">자사와 특허 경쟁력과 경쟁사 평균 특허 경쟁력을 비교</span>
        </div>

        <div class="경쟁력분석결과">
          <table id="경쟁력테이블">
            <thead>
              <tr>
                <th></th>
                <th>유효특허수</th>
                <th>피인용수</th>
                <th>영향력 지수</th>
                <th>기술력 지수</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th>자사</th>
                <td>{{patent_valid}}</td>
                <td>{{cpp}}</td>
                <td>{{pii}}</td>
                <td>{{ts}}</td>
              </tr>
              <tr>
                <th>경쟁사 평균</th>
                <td>{{patent_avg}}</td>
                <td>{{cpp_avg}}</td>
                <td>{{pii_avg}}</td>
                <td>{{ts_avg}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script>

  $(".분류코드").click(function () {
    var ipc = $(this).text();
    $.ajax({
      dataType: 'json',
      url: "{%url 'patentexplain'%}",
      data: { 'patent': ipc, 'is_ajax': true },
      success: function (data) {
        $("#patentipc").text(data['explain']);
        $("#ipcexplain").text(data['explain'])
      },
      error: function (request, status, error) {
        alert('통신실패');
        alert(error);
      }
    })
  })
</script>

</html>