{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'finalapp/competitor.css'%}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{%static 'finalapp/select.js'%}"></script>

</head>

<body class="container">

    <div class="upper">
        <a class="home" href="{%url 'home'%}">특허전략솔루션</a>
        <a class="menu1" href="">인사말</a>
        <a class="menu2" href="">추가기능2</a>
        <a class="menu3" href="">추가기능3</a>
    </div>
    <div class="content">
        <div class="title"> 여기는 경쟁사 분석</div>
        <div class="search">
            <div id="input-form">
                이름 : <input type="text" id="company">
                <input type="submit" value="검색">
            </div>

            <table id="user-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>생년월일</th>
                        <th>학과</th>
                        <th>학번</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>박경두</td>
                        <td>1991.09.07</td>
                        <td>경영정보학과</td>
                        <td>2000290031</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>김동규</td>
                        <td>1991.07.07</td>
                        <td>경영학과</td>
                        <td>2000290032</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>
<script type="text/javascript">
    $(document).ready(function () {

        search();
    })

</script>

</html>