{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'finalapp/competitor.css'%}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{%static 'finalapp/select.js'%}"></script>

</head>

<body class="container">

    <div class="upper">
        <a class="home" href="{%url 'home'%}">특허전략솔루션</a>
        <a class="menu1" href="">인사말</a>
        <a class="menu2" href="">서비스 소개</a>
        <a class="menu3" href="">용어 정의</a>
    </div>
    <div class="content">
        <div class="제목">
            <canvas id="square" width="10" height="50"></canvas>
            <span id="title">경쟁사 분석</span>
        </div>
        <div class="잘못입력시">
            {%if error%}
            <p>잘못 입력하셨습니다. 다시 입력 해주세요.</p>
            {%endif%}
        </div>
        <div class="search">
            <div id="input-form">
                <form action="{%url 'competitorresult'%}">

                    회사명 : <input type="text" id="company" name="company">
                    <input type="submit" value="검색" id="제출">
                </form>
            </div>

            <table id="user-table">
                <thead>
                    <tr>
                        <th id="number">번호</th>
                        <th id="select">회사명</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>삼성</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>애플</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>
<script type="text/javascript">
    $(document).ready(function () {

        search();
    })

</script>

</html>