{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'finalapp/style.css'%}">
    <link rel="stylesheet" href="{%static 'finalapp/patent.css'%}">
</head>

<body class="container">

    <div class="upper">
        <a class="home" href="{%url 'home'%}">특허전략솔루션</a>
        <a class="menu1" href="">인사말</a>
        <a class="menu2" href="">추가기능2</a>
        <a class="menu3" href="">추가기능3</a>
    </div>
    <div class="content2">
        <div class="아무글"> 여기는 특허 추천</div>
    </div>

</body>

</html>