{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'finalapp/patent.css'%}">
</head>

<body class="container">

    <div class="upper">
        <a class="home" href="{%url 'home'%}">특허전략솔루션</a>
        <a class="menu1" href="">인사말</a>
        <a class="menu2" href="">서비스 소개</a>
        <a class="menu3" href="">용어 정의</a>
    </div>
    <div class="content">
        <form id="input-form" action="{%url 'searchpatent'%}">
            회사명 : <input type="text" id="company">
            <input type="submit" value="검색" id="제출">
        </form>
        {%if companydetail%}
        {%for company in companydetail%}
        회사 이름 : {{compnay.name}}
        특허 수 : {{company.number}}
        {%endfor%}
        {%endif%}
    </div>

</body>

</html>