{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>경쟁사분석</title>
    <link rel="stylesheet" href="{%static 'finalapp/patentresult.css'%}">

</head>

<body class="container">
    <div class="upper">
        <a class="home" href="{%url 'home'%}">특허전략솔루션</a>
        <a class="menu1" href="">인사말</a>
        <a class="menu2" href="">서비스 소개</a>
        <a class="menu3" href="">용어 정의</a>
    </div>
    <div class="content">
        <div class="제목">
            <canvas id="square" width="10" height="50"></canvas>
            <span id="title">특허 분석</span>
        </div>
        {%if companydetail%}
        <div class="자회사">
            <h1>입력한 회사 : {{company}}</h1>
        </div>
        {%else%}
        <div class="자회사">
            <h1>잘못된 회사 입력</h1>
        </div>
        {%endif%}

        <div class="결과">
            <div class="특허추천">
                <div class="특허추천간략">
                    <span class="소제목">매입 특허 추천</span>
                    <span class="설명">매입할 특허를 분야별로 추천</span>

                </div>
                <div class="특허추천결과">
                    <div id="분야선택">
                        <select>
                            <option>분야선택</option>

                        </select>
                    </div>
                    <div id="검색목록" style="overflow: auto;">
                        <table id="user-table">
                            <tbody>
                                <tr>
                                    <td class="number">특허명</td>
                                    <td class="select">출원번호</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="특허">
                <div class="특허분석간략">
                    <span class="소제목">경쟁력 변화</span>
                    <span class="설명">특허 매입 후 경쟁력 변화</span>

                </div>
                <div class="특허분석결과">
                    <table id="경쟁력테이블">
                        <thead>
                            <tr>
                                <th></th>
                                <th>유효특허수</th>
                                <th>피인용수</th>
                                <th>영향력 지수</th>
                                <th>기술력 지수</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>매입 전</th>
                                <td>5097</td>
                                <td>10.473</td>
                                <td>0.654</td>
                                <td>3492.949</td>
                            </tr>
                            <tr>
                                <th>매입 후</th>
                                <td>5098</td>
                                <td>11.424</td>
                                <td>0.712</td>
                                <td>3562.594</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</body>

</html>